html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color: #006699;
}

.container {
  width: 1140px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #F5F6F8;
}

.header {
  background-color: #fff;
  margin-bottom: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header .container {
  height: 56px;
  display: flex;
  align-items: center;
}
.header .container .search {
  position: relative;
  margin-left: 18px;
}
.header .container .search i {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAAAAA;
}
.header .container .search input {
  border: none;
  outline: none;
  height: 32px;
  width: 100%;
  border-radius: 4px;
  background-color: rgba(222, 222, 222, 0.32);
  font-size: 14px;
  padding: 0 15px 0 44px;
}
.header .container .search input::-moz-placeholder {
  color: #AAAAAA;
}
.header .container .search input:-ms-input-placeholder {
  color: #AAAAAA;
}
.header .container .search input::placeholder {
  color: #AAAAAA;
}
.header .container .menu {
  margin: 0 auto;
}
.header .container .menu ul {
  display: flex;
}
.header .container .menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 13px;
  color: #AAAAAA;
}
.header .container .menu ul li a i {
  font-size: 20px;
}
.header .container .menu ul li a span {
  display: none;
}
.header .container .menu ul li a:hover {
  color: var(--color);
}
.header .container .menu ul li.active a {
  color: var(--color);
}
.header .container .menu ul li.active a i {
  margin-right: 10px;
}
.header .container .menu ul li.active a span {
  display: block;
}
.header .container .user-menu > a {
  display: flex;
  align-items: center;
}
.header .container .user-menu .detail {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 6px;
}
.header .container .user-menu .detail .name {
  font-size: 14px;
  color: #17272F;
}
.header .container .user-menu .detail .status {
  font-size: 12px;
}
.header .container .user-menu .detail .status.online {
  color: #31B057;
}
.header .container .user-menu .detail .status.offline {
  color: red;
}
.header .container .user-menu img {
  width: 28px;
  min-width: 28px;
  height: 28px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .container .user-menu i {
  color: #A7B4CC;
  font-size: 12px;
  margin-left: 5px;
}

main .container {
  display: flex;
}
main .container .sidebar {
  min-width: 270px;
  width: 270px;
}
main .container .sidebar .widget {
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 6px;
  padding: 15px;
}
main .container .sidebar .widget .widget-button {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color);
  transition: 300ms background-color, 300ms color;
}
main .container .sidebar .widget .widget-button:hover {
  background-color: var(--color);
  color: #fff;
}
main .container .sidebar .widget h6 {
  font-size: 16px;
  font-weight: 500;
  color: #17272F;
  padding-bottom: 8px;
  border-bottom: 1px solid #EDF0F5;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container .sidebar .widget h6 .description {
  display: block;
  font-size: 10px;
  color: #aaa;
  font-weight: normal;
  margin-top: 4px;
}
main .container .sidebar .widget h6 .more-btn {
  color: #aaa;
  font-size: 16px;
  align-self: flex-start;
}
main .container .sidebar .widget h6 .more-btn:hover {
  color: var(--color);
}
main .container .sidebar .widget h6 .dropdown a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #31B057;
  font-weight: normal;
}
main .container .sidebar .widget h6 .dropdown a i {
  font-size: 10px;
  color: #AAAAAA;
  margin-left: 5px;
}
main .container .sidebar .widget-stats {
  padding: 8px;
}
main .container .sidebar .widget-stats .stat-user {
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #EDF0F5;
}
main .container .sidebar .widget-stats .stat-user .cover {
  height: 43px;
  background: url(img/cover-bg.png) no-repeat center center;
  background-size: cover;
  border-radius: 4px;
}
main .container .sidebar .widget-stats .stat-user .avatar {
  text-align: center;
  margin-top: -26px;
  margin-bottom: 10px;
}
main .container .sidebar .widget-stats .stat-user .avatar img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 2px solid #fff;
}
main .container .sidebar .widget-stats .stat-user .name {
  font-size: 16px;
  font-weight: 500;
  color: #17272F;
}
main .container .sidebar .widget-stats .stat-user .job-title {
  font-size: 14px;
  color: #AAAAAA;
  margin-top: 4px;
}
main .container .sidebar .widget-stats ul {
  padding: 0 7px 11px;
}
main .container .sidebar .widget-stats ul li {
  display: flex;
  justify-content: space-between;
}
main .container .sidebar .widget-stats ul li .key {
  color: #17272F;
}
main .container .sidebar .widget-stats ul li .value {
  color: var(--color);
  font-weight: 500;
}
main .container .sidebar .widget-stats ul li:not(:last-child) {
  margin-bottom: 16px;
}
main .container .sidebar .widget-newest ul {
  padding-bottom: 30px;
}
main .container .sidebar .widget-newest ul:last-child {
  padding-bottom: 0;
}
main .container .sidebar .widget-newest ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--color);
  padding: 4px 0;
}
main .container .sidebar .widget-newest ul li a:hover {
  color: #222;
}
main .container .sidebar .widget-newest ul li a i {
  font-size: 12px;
  margin-right: 10px;
}
main .container .sidebar .widget-btn {
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #17272F;
}
main .container .sidebar .widget-btn i {
  color: var(--color);
}
main .container .sidebar .widget-btn.more {
  height: 56px;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--color);
  transition: 300ms all;
}
main .container .sidebar .widget-btn.more:hover {
  background-color: var(--color);
  color: #fff;
}
main .container .sidebar .widget-recommendation ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
main .container .sidebar .widget-recommendation ul li a:first-child {
  display: flex;
  align-items: center;
}
main .container .sidebar .widget-recommendation ul li a:first-child .image {
  min-width: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .sidebar .widget-recommendation ul li a:first-child .image img {
  max-width: 100%;
}
main .container .sidebar .widget-recommendation ul li a:first-child .detail {
  display: flex;
  flex-direction: column;
}
main .container .sidebar .widget-recommendation ul li a:first-child .detail .name {
  font-size: 14px;
  color: #17272F;
  font-weight: 500;
}
main .container .sidebar .widget-recommendation ul li a:first-child .detail .alt-name {
  font-size: 12px;
  color: #AAAAAA;
  padding-top: 3px;
}
main .container .sidebar .widget-recommendation ul li a:last-child {
  min-width: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color);
  color: var(--color);
  border-radius: 4px;
  font-size: 13px;
  display: grid;
  place-items: center;
  transition: 300ms background-color, 300ms color;
}
main .container .sidebar .widget-recommendation ul li a:last-child:hover {
  background-color: var(--color);
  color: #fff;
}
main .container .sidebar .widget-marketing {
  padding: 20px 16px 10px;
}
main .container .sidebar .widget-marketing .get-updates .avatars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px 0;
}
main .container .sidebar .widget-marketing .get-updates .avatars a img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}
main .container .sidebar .widget-marketing .get-updates p {
  margin-top: 18px;
  font-size: 14px;
  color: #17272F;
  line-height: 20px;
  margin-bottom: 10px;
}
main .container .sidebar .widget-marketing .get-updates p span {
  font-weight: 500;
}
main .container .sidebar .footer {
  padding-top: 38px;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}
main .container .sidebar .footer nav {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 12px;
}
main .container .sidebar .footer nav a {
  font-size: 10px;
  color: #aaa;
  margin-right: 15px;
  margin-bottom: 16px;
}
main .container .sidebar .footer nav a:hover {
  color: #222;
}
main .container .sidebar .footer .copyright {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #aaa;
  justify-content: space-between;
}
main .container .sidebar .footer .copyright img {
  height: 12px;
}
main .container .content {
  flex: 1;
  margin: 0 30px;
}
main .container .content .create-post {
  background-color: #fff;
  padding: 16px 16px 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}
main .container .content .create-post textarea {
  width: 100%;
  resize: none;
  height: 60px;
  font-size: 14px;
  border: none;
  outline: none;
}
main .container .content .create-post textarea::-moz-placeholder {
  color: #aaa;
}
main .container .content .create-post textarea:-ms-input-placeholder {
  color: #aaa;
}
main .container .content .create-post textarea::placeholder {
  color: #aaa;
}
main .container .content .create-post .actions {
  border-top: 1px solid #EDF0F5;
  display: flex;
  padding: 8px;
}
main .container .content .create-post .actions li {
  flex: auto;
}
main .container .content .create-post .actions li label {
  cursor: pointer;
}
main .container .content .create-post .actions li label input {
  display: none;
}
main .container .content .create-post .actions li label,
main .container .content .create-post .actions li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #17272F;
  font-size: 14px;
  padding: 7px 0;
  border-radius: 4px;
}
main .container .content .create-post .actions li label:hover,
main .container .content .create-post .actions li a:hover {
  background-color: #f7f7f7;
}
main .container .content .create-post .actions li label i,
main .container .content .create-post .actions li a i {
  margin-right: 8px;
  font-size: 16px;
}
main .container .content .create-post .actions li label i.fa-camera,
main .container .content .create-post .actions li a i.fa-camera {
  color: #31B057;
}
main .container .content .create-post .actions li label i.fa-video,
main .container .content .create-post .actions li a i.fa-video {
  color: #388BF2;
}
main .container .content .create-post .actions li label i.fa-calendar,
main .container .content .create-post .actions li a i.fa-calendar {
  color: #FC8338;
}
main .container .content .create-post .actions li label i.fa-pen-to-square,
main .container .content .create-post .actions li a i.fa-pen-to-square {
  color: #E52A34;
}
main .container .content .filter-box {
  margin-bottom: 14px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.24);
  border-radius: 6px;
  padding: 0 20px;
  color: #17272F;
}
main .container .content .filter-box h6 {
  font-size: 14px;
  font-weight: normal;
}
main .container .content .filter-box select {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #17272F;
}
main .container .content .post {
  background-color: #fff;
  border-radius: 6px;
  padding: 13px 16px 20px;
  margin-bottom: 20px;
}
main .container .content .post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 9px;
  border-bottom: 1px solid #EDF0F5;
}
main .container .content .post .post-header .post-author {
  display: flex;
  align-items: center;
}
main .container .content .post .post-header .post-author img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
}
main .container .content .post .post-header .post-author .name {
  font-size: 14px;
  font-weight: 500;
  color: #17272F;
}
main .container .content .post .post-header .post-author .date,
main .container .content .post .post-header .post-author .job-title {
  font-size: 10px;
  color: #aaa;
}
main .container .content .post .post-header .post-author .job-title {
  padding: 2px 0;
}
main .container .content .post .post-header .more {
  color: #aaa;
  font-size: 18px;
}
main .container .content .post .post-header .more:hover {
  color: var(--color);
}
main .container .content .post .post-content {
  padding: 20px 0;
}
main .container .content .post .post-content p {
  font-size: 14px;
  margin-bottom: 12px;
}
main .container .content .post .post-content p img {
  max-width: 100%;
}
main .container .content .post .post-content p:last-child {
  margin-bottom: 0;
}
main .container .content .post .post-content p a {
  font-weight: 500;
  color: var(--color);
}
main .container .content .post .post-content p a:hover {
  text-decoration: underline;
}
main .container .content .post .post-reactions {
  display: flex;
  font-size: 10px;
  color: #17272F;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 1px solid #EDF0F5;
  margin-bottom: 14px;
}
main .container .content .post .post-reactions .likes {
  display: flex;
  align-items: center;
  padding-right: 10px;
  position: relative;
}
main .container .content .post .post-reactions .likes::before {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #17272F;
  position: absolute;
  top: 50%;
  right: 3px;
  margin-top: -1px;
}
main .container .content .post .post-reactions i {
  font-size: 14px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}
main .container .content .post .post-reactions i::after {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
}
main .container .content .post .post-reactions i.fa-heart {
  color: #E52A34;
}
main .container .content .post .post-reactions i.fa-heart::after {
  background-color: rgba(229, 42, 52, 0.32);
}
main .container .content .post .post-reactions i.fa-comments {
  color: #388BF2;
}
main .container .content .post .post-reactions i.fa-comments::after {
  background-color: rgba(56, 139, 242, 0.32);
}
main .container .content .post .post-actions {
  display: flex;
  padding-bottom: 20px;
}
main .container .content .post .post-actions a {
  font-size: 16px;
  color: #aaa;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
main .container .content .post .post-actions a i {
  font-size: 20px;
  margin-right: 5px;
}
main .container .content .post .post-actions a:hover {
  color: var(--color);
}
main .container .content .post .post-comment-form {
  display: flex;
  align-items: center;
}
main .container .content .post .post-comment-form img {
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}
main .container .content .post .post-comment-form .textarea {
  flex: 1;
  border: 1px solid #EDF0F5;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 8px;
}
main .container .content .post .post-comment-form .textarea textarea {
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  resize: none;
  height: 36px;
  font-size: 14px;
}
main .container .content .post .post-comment-form .textarea textarea::-moz-placeholder {
  color: #DEDEDE;
}
main .container .content .post .post-comment-form .textarea textarea:-ms-input-placeholder {
  color: #DEDEDE;
}
main .container .content .post .post-comment-form .textarea textarea::placeholder {
  color: #DEDEDE;
}
main .container .content .post .post-comment-form .textarea label {
  cursor: pointer;
  border-left: 1px solid #EDF0F5;
  padding-left: 16px;
  font-size: 18px;
  color: #A7B4CC;
  padding-right: 5px;
}
main .container .content .post .post-comment-form .textarea label:hover {
  color: var(--color);
}
main .container .content .post .post-comment-form .textarea label input {
  display: none;
}

.message-box {
  position: fixed;
  bottom: 0;
  right: 50px;
}
.message-box .message-header {
  width: 270px;
  height: 56px;
  display: flex;
  align-items: center;
  background: linear-gradient(289.57deg, #006699 20.9%, #009099 111.3%);
  border-radius: 6px 6px 0 0;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
}
.message-box .message-header .img {
  position: relative;
}
.message-box .message-header .img::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -8px;
  border: 1px solid #fff;
}
.message-box .message-header .img.offline::before {
  background: red;
}
.message-box .message-header .img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
  margin-right: 7px;
}
.message-box .message-header .actions {
  display: flex;
  margin-left: auto;
}
.message-box .message-header .actions a {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  margin-left: 5px;
  border-radius: 50%;
}
.message-box .message-header .actions a:hover {
  background: rgba(255, 255, 255, 0.1);
}/*# sourceMappingURL=style.css.map */